<div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg nav-link">
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="active()">
        <span class="navbar-toggler-icon"></span>
        Menu
      </button>
      <a href="/"><img src="assets/img/logo.png" width="50" height="60"></a>
  
      <a class="navbar-brand offset-md-1" *ngIf="globals.loggeado">Bienvenido {{globals.userLogeado.nombre}}</a>
  
      <div [ngClass]="navmenu == true ? 'classnavmenu' : '' " class="collapse navbar-collapse" id="navbarText" *ngIf="globals.loggeado">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/Usuarios']">Usuarios</a>
          </li>

        </ul>
      </div>
      <div *ngIf="!globals.loggeado" class="offset-md-9">
          <button class="btn btn-primary" [routerLink]="['/Login']">Ingresar</button>
          <button class="btn btn-primary offset-md" [routerLink]="['/Register']">Registrar</button>
      </div>
    </nav>
  </div>