<app-header></app-header>

<div class="container my-3">
    <div class="row justify-content-center align-items-center">
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center text-white bg-dark">
                    <h5>Register</h5>
                </div>

                <div class="card-body">
                    <form>
                        <div class="form-group container-fluid h-100">
                            <input type="nombre" class="form-control my-1" placeholder="nombre" name="nombre" id="nombre" [(ngModel)]="usuario.nombre">
                            <input type="apellido" class="form-control my-1" placeholder="apellido" name="apellido" id="apellido" [(ngModel)]="usuario.apellido">
                            <input type="date" class="form-control my-1" placeholder="fecha de nacimiento" name="fecha" id="fecha" [(ngModel)]="usuario.fechaNacimiento">
                            <select name="estadoCivil" id="estadoCivil" [(ngModel)]="usuario.estadoCivil"> 
                                <option value="S">Soltero</option>
                                <option value="C">Casado</option>
                            </select>
                            <h6>¿Tiene hermanos?</h6>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" checked [ngModel]="usuario.hermanos" [value]="true">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Si
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked [ngModel]="usuario.hermanos" [value]="false">
                                <label class="form-check-label" for="flexRadioDefault2">No</label>
                            </div>

                            <div class="row w-100">
                                <div class="col text-center my-1">
                                    <button class="btn btn-success center-block" (click)="actualizar()">Actualizar</button>
                                    <button class="btn btn-primary center-block" [routerLink]="['/Usuarios']">Volver</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>