<app-header></app-header>
<div class="card text-white bg-dark mb-4 my-3">
    <div class="card-header">Usuarios</div>

    <table class="table table-bordered table-striped table-sm table-dark">
        <thead>
            <tr class="text-white text-center">
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Estado Civil</th>
                <th scope="col">Con hermanos</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td scope="row">{{usuario.id}}</td>
                <td scope="row">{{usuario.nombre}}</td>
                <td scope="row">{{usuario.apellido}}</td>
                <td scope="row">{{usuario.fechaNacimiento}}</td>
                <td scope="row">{{usuario.estadoCivil}}</td>
                <td scope="row">{{usuario.hermanos}}</td>
                <td>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary"
                            [routerLink]="['/Articulos/form',usuario.id]">Editar</button>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-danger" >Eliminar</button>
                    </div>
                </td>
            </tr>
                
        </tbody>
    </table>
</div>
